@keyframes fade {
    from {
      opacity: 1;
      visibility: visible;
    }
    to {
      opacity: 0;
      visibility: hidden;
    }
  }
@keyframes show {
    from {
      opacity: 0;
      /* visibility: hidden; */
    }
    to {
      opacity: 1;
      /* visibility: visible; */
    }
}  
@font-face {
    font-family: logo;
    src: url(fonts/micra-bold_[allfont.ru].ttf);
  }
@font-face {
    font-family: main;
    src: url(fonts/europe_ext_[allfont.ru].ttf);
}
@font-face {
    font-family: ruka;
    src: url(fonts/ofont.ru_Rozovii\ Chulok.ttf);
}
*{
    margin: 0px;
    padding: 0px;
}
body{
    background:rgb(20, 19, 20);
    background-image: url(fon.jpg);
}
img{
    width: 100%;
}
header{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    width: auto;
    height: fit-content;
    min-height: 550px;
    background-image: url(background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-origin: content-box;
}
.dark{
    animation: fade 4s ease forwards;
    width: 100%;
    height: 550px; 
    background-color: black;
    z-index: 0;
    position: absolute;
}

.maininfo{
    padding: 50px 0px;
    padding: 100px auto;
    opacity: 0;
    animation: show 2s ease forwards 1s;
    align-self: center;
    width: 100%;
    /* height: 90%; */
    margin: 40px auto;
    background-color: rgba(0, 0, 0, 0.548);
}
.logo{
    margin: 30px auto;
    height: fit-content;
    opacity: 0;
    animation: show 2s ease forwards 1s;
    width: 100%;
    display: flex;
    justify-content: center;
}
.logo img{
    width: 30%;
    max-width: 250px;
}
.logoname{
    margin: 30px auto;
    display: flex;
    justify-content: center;
    opacity: 0;
    animation: show 2s ease forwards 2s;
    width: 100%;
    color: white;
    font-family: 'logo';
    text-align: center;
}

.LISTEN{
    margin: 30px auto;
    display: flex;
    justify-content: center;
    opacity: 0;
    animation: show 2s ease forwards 3s;
    width: 100px;
    font-size: 12px;
    font-family: 'Arial Black', Gadget, sans-serif;
    color: rgb(0, 0, 0);
    text-align: center;
    text-decoration: none;
    background-color: white;
    padding: 10px;
}
.LISTEN:hover{
    background-color: crimson;
    color: white;
}
nav{
    background-color: rgba(0, 0, 0, 0.822);
    width: 100%;
    height: auto;
    margin-top: auto;
    margin-bottom: 0px;
    display: flex;
    justify-content: center;
    gap: 50px;
    /* padding: 30px 0px; */
    align-content: center;
    
}
nav img{
    width: 20px;
}
.cats{
    display: flex;
    margin: 20px 0px;
}
.cats button{
    display: flex;
    justify-content: center;
    font-family: 'logo';
    font-size: 15px;
    color: white;
    background: none;
    border: 0px;
    margin: auto 15px; 
}
.cats button:hover{
    color: crimson;
}
.socmedia{
    display: flex;
    margin: 20px 0px;
}
.socmedia a{
    margin: auto 10px;
}
.aboutusdiv{
    margin: auto;
    margin-top: 150px;
    width: auto;
    max-width: 2000px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 45px;
    row-gap: 25px;
    padding: 15px;

    text-align: left;
    font-family: 'Arial';
    font-size: 18px;
    line-height: 1.5;

}
p{    color: white;
        font-weight: lighter;
    justify-items: center;
    font-family: 'main';
}
.aboutusdiv img{
    width: 35%;
}
.aur{
    justify-self: left;
    text-align: left;
}
.aul{
    justify-self: right;
    text-align: right;
}

.membersdiv{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    max-width: 800px;
    gap: 20px;
    margin: auto;
}
.cat2{
    color: white;
    font-family: 'logo';
    margin: 150px auto 50px auto;
    width: 100%;
    text-align: center;
}
.cat3{
    color: white;
    font-family: 'logo';
    margin: 150px auto 50px auto;
    width: 100%;
    text-align: center;
}
.cat4 h1{
    color: white;
    font-family: 'logo';
    margin: 150px auto 50px auto;
    width: 100%;
    text-align: center;
}
.member {
    position: relative;
    width: 100%;
    font-family: 'logo';
  }
.member p{
    display: none;
}
  
  .member image {
    display: block;
    width: 100%;
    height: auto;
  }
  
  .overlaymember {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: crimson;
  }
  
  .member:hover .overlaymember {
    opacity: 1;
  }
  
  .textmember {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;

    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }
  .modal {
    display: none; 
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.visible{
    display: block;
}
.modal-content {
    align-items: center;
    display: grid;
    gap: 15px;
    color: black;
    grid-template-columns: 5fr 5fr 1fr;
    background-color: #ffffffd5;
    margin: 10% auto; /* 15% from the top and centered */
    padding: 20px;
    font-size: 20px;
    font-family: 'main';
    border: 1px solid #c4c4c4;
    width: 80%; /* Could be more or less, depending on screen size */
}
.modal-content p{
    color: black;
}
.modal-content span{
    font-family: Arial, Helvetica, sans-serif;
}
/* The Close Button */
.close {
    align-self: first baseline;
    color: #aaa;
    float: right;
    font-size: 38px;
    font-weight: bold;
    justify-self: end;
}
.modal-content {
    animation-name: zoom;
    animation-duration: 0.6s;
}

.close:hover,
.close:focus {
    color: crimson;
    text-decoration: none;
    cursor: pointer;
}

.albom img{
    width: 100%;
    opacity: 1;
    transition: .5s ease;
    backface-visibility: hidden;
}

.alboms{
    z-index: 0;
    margin: auto;
    width: 100%;
    height: auto;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    /* max-width: 1000PX; */
    /* margin-bottom: 500px; */
}
.owl-carousel .item{
    max-width: 500px;
}
.owl-nav button img{
    padding: 10px;
    border-radius: 50%;
    width: 30px;
    background-color: rgba(255, 255, 255, 0.411);
}
.owl-nav button{
    position: absolute;
    top: 45%;
    bottom: 50%;

}
.owl-prev{
    left: 0px;
}
.owl-next{
    right: 0px;
}
.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
    height: 100%;
  }
  .albom:hover .image {
    opacity: 0.3;
  }
  
  .albom:hover .middle {

    background-color: #ffffff67;
    opacity: 1;
  }
  .albom button{
    background-color: crimson;
    border: 0px;
    color: white;
    font-family: 'logo';
    height: 40px;
  }
  .albom button a{
    text-decoration: none;
    color: white;
    margin: 10px;
    padding: 10px;
  }
  .alboms p{
    font-size: 25px;
    width: 70%;
    margin: 30px;
    font-family: 'ruka';
  }
  .at2{
    /* position: absolute; */
    right: 10px;
    text-align: right;
    align-self: flex-end;

  }
/* Style the tab buttons */
.tablink {
    background-color: #55555500;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 25%;
    font-family: 'logo';
}

/* Change background color of buttons on hover */
.tablink:hover {
    background-color: #777;
}

/* Set default styles for tab content */
.tabcontent {
    color: white;
    display: none;
    /* padding: 50px; */
    text-align: center;
}
.tabcontent a{
    background-color: black;
}
/* .tabcontent img:hover{
    animation: fade2 0.5s forwards;
} */

.cat4{
    margin: auto;
    /* max-width: 1200px; */
}
.cat5 table{
    color: white;
    width: 100%;
    /* max-width: 1200px; */
    margin: auto;
}
th{
    font-family: 'logo';
    padding: 15px;
    font-size: 20px;
}
td{
    font-family: 'main';
    padding: 10px;
    text-align: center;
}


/* Style each tab content individually */
/* #yamakasi {background-color:red;}
#Paris {background-color:green;}
#Tokyo {background-color:blue;}
#Oslo {background-color:orange;} */
@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}
@keyframes fade {
    from {
      opacity: 1;
      visibility: visible;
    }
    to {
      opacity: 0;
      visibility: hidden;
    }
  }
@keyframes fade2 {
    from {
      opacity: 1;
      visibility: visible;
    }
    to {
      opacity: 0.5;
      /* visibility: hidden; */
    }
  }
@keyframes show {
    from {
      opacity: 0;
      /* visibility: hidden; */
    }
    to {
      opacity: 1;
      /* visibility: visible; */
    }
}  
